/* Body */
html, body { margin: 0; padding: 0; }
body {
	background: #002d46 url(background.png) top center;
	color: #fff;
	font-size: 1em;
	padding: 0;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	margin-bottom: 20px;
}

/* Simple elements */
a, a:link, a:visited {
	color : #4c6d79;
	text-decoration: none;
	font-weight: bold;
}

h1, h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	clear: both;
}

h1 span, h2 span, h3 span {
	font-size: 0.8em;
}

img, video {
	border: none;
	vertical-align: middle;
	margin: 10px;
	max-width:100%;
}

sup, sub {
	font-size: 0.7em;
	padding: 0 0.2em;
}

p {
	margin: 5px 0;
	text-align: justify;
}
p.center {
	text-align: center;
}
p.note {
	font-size: 0.6em;
}

span.bar {
	border-top: 1px solid;
}

span.bar span {
	display: none;
}

/* Titles */
h1 {
	font-size: 1.6em;
	color: #d40055;
	border-bottom: 1px dashed #d40055;
}
h2, h3, h4 {
	font-size: 1.2em;
	color: #4a0;
}

/* Tables */
table {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

table th {
	background-color: #4a0;
	color: #fff;
}

table tr:hover {
	background-color: #d40055;
	color: #fff;
}

/* Header and footer */
#head {
	background: url(head.jpg) no-repeat top center;
	height: 390px;
}
#site_content {
	background: #fff;
	color: #333;
	display: table;
	width: 90%;
	min-width: 730px;
	max-width: 1520px;
	margin: 0 auto;
	padding: 10px 20px;
	border-radius: 35px;
}
